#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

#header{
    padding-top: 25px; 
    padding-bottom: 80px; 
}

#heading{
    text-align: center;
    padding-bottom: 25px;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}